// LESS Variables

@background: #182E62; // Background color
@bg-light: #3360CC; // Background color

@text: #FFFFFF; // Base text color
@text-light: #EEEEEE; // Light text color
@text-header: #FFFFFF; // h1~h6 text color

@link: #F2F2FF; // Link text color
@hover: #D0D0FF; // Link text color(hover)
@visited: #F0F0FF; // Link text color(hover)

@border: #3360CC; // Border color

@box-shadow-to: #6c88cc;

@btn: #fff; // button background
@btn-hover: #f5f5f5; // button hover backgroud

@code-bg-color: #0F192A;

@monospace-font: "Consolas", 'Monaco', "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;